@font-face {
    font-family: "CarterOne";
    src: url("CarterOne-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}


:root {
    --background: #fff;
    --text: #291f1e;
    --textBright: #463634;
    --primary: #e1b03d;
    --secondary: #477998;
    --secondaryDark: #2e4d61;
    --containerMaxWidth: 800px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #291f1e;
        --text: #fff;
    }
}

@media screen and (max-width: 800px) {
    :root {
        ---containerMaxWidth: 100%;
    }
}


h1, h2, h3, h4, h5, h6 {
    font-family: "CarterOne", sans-serif;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.2em;
}

header,
main,
footer {
    max-width: var(--containerMaxWidth);
    margin: 0 auto;
    padding: 2rem 4vw;
}

.jumbotron {
    background: var(--secondary);
    background: linear-gradient(140deg, var(--secondaryDark) 0%, var(--secondaryDark) 10%, var(--secondary) 90%, var(--secondary) 100%);
}

header {
    display: flex;
    justify-content: start;
}

header .logo {
    height: 5rem;
}

header .title {
    margin: .1em .6em;
    font-size: 4rem;
    font-style: italic;
    color: var(--primary);
    line-height: 1;
}

section {
    margin: 2rem 0;
}

.highlight {
    font-family: "CarterOne", sans-serif;
    font-size: 4em;
    font-style: italic;
    font-weight: bold;
    color: var(--secondary)
}

.wrapper {
    overflow-x: auto;
}

table {
    min-width: 100%;
    table-layout: fixed;
    border: none;
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

caption {
    text-align: start;
    padding-bottom: .4em;
}

thead {
    background-color: #7b7b7b14;
    font-weight: bold;
    white-space: nowrap;
}

table tr {
    background-color: #7b7b7b14;
}

table tr:nth-child(odd) {
    background-color: #7b7b7b1f;
}

table td {
    padding: .4em;
}


@media screen and (max-width: 400px) {
    header .logo {
        height: 3rem;
    }

    header .title {
        font-size: 2.4rem;
    }
}