@font-face {
    font-family: "Signika";
    src: url("SignikaNegative-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
}


:root {
    --background: #fff;
    --text: #0c0b1e;
    --primary: #5bc0be;
    --secondary: #8783d1;
    --linkColor: #0066cc;
    --linkColorVisited: #551a8b;
    --containerMaxWidth: 800px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0c0b1e;
        --text: #fff;
        --linkColor: #6d9bc9;
        --linkColorVisited: #9469bc;
    }
}

@media screen and (max-width: 800px) {
    :root {
        ---containerMaxWidth: 100%;
    }
}

html, body {
    width: 100%;
    min-width: 300px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Signika", sans-serif;
    font-variation-settings: "wght" 600;
    font-weight: bold;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.2em;
}

a {
    color: var(--linkColor);
}

a:visited {
    color: var(--linkColorVisited);
}

header,
main,
footer {
    max-width: var(--containerMaxWidth);
    margin: 3rem auto;
    padding: 0 4vw;
}

header a {
    text-decoration: none;
    display: inline-flex;
    justify-content: start;
}

header .logo {
    height: 5rem;
}

header .title {
    margin: .16em .5em;
    font-size: 4rem;
    color: var(--text);
    line-height: 1;
}

header.small .logo {
    height: 4rem;
}

header.small .title {
    font-size: 3.2rem
}

section {
    margin: 2rem 0;
}

.highlight {
    font-family: "Signika", sans-serif;
    font-size: 4em;
    line-height: 1.2em;
    font-variation-settings: "wght" 700;
    font-weight: bold;
    color: var(--primary)
}

.wrapper {
    overflow-x: auto;
}

/* table */
table {
    min-width: 100%;
    table-layout: fixed;
    border: none;
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

caption {
    text-align: start;
    padding-bottom: .4em;
}

thead {
    background-color: #7b7b7b14;
    color: var(--secondary);
    font-weight: bold;
    white-space: nowrap;
}

table tr {
    background-color: #7b7b7b14;
}

table tr:nth-child(odd) {
    background-color: #7b7b7b1f;
}

table td {
    padding: .4em;
}

/* form */
form {
    display: flex;
    flex-wrap: wrap;
}

form > :first-child .input-group {
    margin-left: 0;
}

form > :last-child .input-group {
    margin-right: 0;
}

input, .input, .input:visited {
    display: inline-block;
    background: transparent;
    color: var(--text);
    padding: .6em 1.2em;
    border: none;
    border-radius: 2em;
    font-size: 1em;
    line-height: 1em;
    text-decoration: none;
}

input:focus, .input:focus {
    border: none;
    outline: none;
}

input[inputmode="numeric"], input[inputmode="decimal"] {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    text-align: end;
}

label {
    padding: 1.2em 1.2em 1.2em 0;
    font-size: 1em;
}

.submit {
    box-shadow: var(--primary) 0 0 .4em;
    transition: box-shadow 400ms;
}

.submit:hover, .submit:focus {
    box-shadow: var(--primary) 0 0 .8em;
}

.input-group {
    margin: 1rem;
    border-radius: 2em;
    box-shadow: var(--secondary) 0 0 .4em;
    transition: box-shadow 400ms;
    white-space: nowrap;
}

.input-group.error {
    box-shadow: red 0 0 .4em;
}

.input-group.time input {
    padding-right: 0;
    padding-left: 0;
}

.input-group.time input:first-of-type {
    padding-left: 1.2em;
}

.input-group.time input:last-of-type {
    padding-right: 1.2em;
}

.submit-group {
    margin: 1rem;
}

.input-group:hover, .input-group:focus-within {
    box-shadow: var(--secondary) 0 0 .8em;
}

form[disabled] .input-group, form[disabled] .submit {
    box-shadow: #7b7b7b 0 0 .4em;
}

.error-message {
    text-align: center;
}

/* Responsive rules */
@media screen and (max-width: 420px) {
    header .logo, header.small .logo {
        height: 3rem;
    }

    header .title, header.small .title {
        font-size: 2.4rem;
    }

    form {
        flex-direction: column;
        align-content: flex-start;
    }

    form > :nth-child(n) div {
        margin-left: 0;
        margin-right: 0;
    }
}